input:-webkit-autofill,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 50px #1d1d1d inset;
  -webkit-box-shadow: 0 0 0 50px #1d1d1d inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #fc0d56;
}
